/* Estilos generales */
* {
  box-sizing: border-box;
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  color: black;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 50px;
  color: rgb(255, 91, 98);
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  color: rgb(255, 91, 98);
}

/* Estilo Botones */
button {
  background-color: rgb(255, 91, 98);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  padding: 16px 35px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 15px;
  transition: 0.1s ease all;
}

button:hover {
  background-color: rgb(238, 65, 65);
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

/* Encabezado */
header {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

header img {
  width: 100%;
  max-width: 100px;
}

.logo {
  grid-column: 1 / 2;
}

.titulo {
  grid-column: 2 / 3;
}

/* Estilos para el menú hamburguesa */
.menuHamburguesa label {
  display: block;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.menuHamburguesa label span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: rgb(255, 91, 98);
  transition: transform 0.3s;
}

.menuHamburguesa input[type="checkbox"] {
  display: none;
}

.menuHamburguesa input[type="checkbox"]:checked ~ ul {
  display: block;
}

.menuHamburguesa input[type="checkbox"]:checked ~ label span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.menuHamburguesa input[type="checkbox"]:checked ~ label span:nth-child(2) {
  opacity: 0;
}

.menuHamburguesa input[type="checkbox"]:checked ~ label span:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menuHamburguesa ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuHamburguesa ul li {
  border-top: 1px solid #eee;
}

.menuHamburguesa ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.menuHamburguesa ul li a:hover {
  background-color: #eee;
  color: rgb(255, 91, 98);
}

/*Estilo Banner tiempo*/
#weather-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Ajusta el color de fondo y la opacidad según tus necesidades */
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  z-index: 9999; /* Ajusta el valor de z-index según sea necesario */
}

#weather-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#weather-icon {
  margin-right: 10px;
}

#temperature {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

#city {
  font-size: 14px;
  margin: 0;
}

/* Estilo inicio */
#inicio {
  display: flex;
  flex-flow: row wrap;
  background-image: url("./media/fondo_inicio_desk_tablet.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;
}

.iconosInicio {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  width: 20%;
  left: 20px;
}

.icono {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  box-sizing: border-box;
  width: 40%;
  margin: 50px 0 30px 0;
}

.contenidoInicio {
  display: flex;
  flex-flow: wrap;
}

.contenidoInicio h2 {
  color: rgb(158, 239, 233);
  text-shadow: 1px 1px 2px rgba(0, 0, 0);
  box-sizing: border-box;
  font-weight: 400;
  font-size: 37px;
  margin-top: 10px;
}

.contenidoInicio p {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  font-weight: 300;
  font-size: 23px;
  margin-top: 10px;
}

#conocerMas {
  width: 200px;
  align-self: center;
}

/* Estilo servicios */
.contenedorServicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.servicios .card:hover {
  background-color: #eee;
}

.card img {
  width: 70px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 91, 98);
}

.servicios h1 {
  margin-top: 80px;
}

/* Estilo Contacto */
.contenedorContacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.contacto {
  background-color: #eee;
  padding-top: 30px;
}

.contacto h4 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

/*Estilos Formulario */
.formulario label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.formulario textarea {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.formulario_input {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border: 2px solid rgba(164, 161, 161, 0.5);
  border-radius: 3px;
  transition: 0.3s ease all;
}

.formulario_input:-webkit-autofill {
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

.formulario_input:focus {
  border: 3px solid rgb(158, 239, 233);
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario_input-error {
  font-size: 12px;
  margin-bottom: 10px;
  color: #bb2929;
  display: none;
}

.formulario_input-error-activo {
  display: block;
}

.formulario_validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario_mensaje {
  height: 45px;
  line-height: 45px;
  width: auto;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario_mensaje-activo {
  display: block;
}

.formulario_mensaje p {
  margin: 0;
  color: white;
}

.formulario_mensaje-exito {
  font-size: 16px;
  color: #119200;
  display: none;
}

.formulario_mensaje-exito-activo {
  display: block;
}

.formulario_mensaje-error {
  font-size: 16px;
  color: #ff0000;
  display: none;
}

.formulario_mensaje-error-activo {
  display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario_grupo-correcto .formulario_validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
  color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
  border: 3px solid #bb2929;
}

/* Estilo nosotros */
.nosotros {
  background-color: rgb(158, 239, 233);
  text-align: center;
}

.nosotros h1 {
  padding-top: 30px;
}

.contenedorNosotros {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.contenidoNosotros {
  grid-column: 2 / 3;
  font-size: large;
  margin-right: 100px;
  text-align: justify;
  max-width: 100%; /* La imagen no supera el ancho del contenedor */
  height: auto;
  margin: 10px;
}

.imgDoctorTecno {
  grid-column: 1 / 2;
  /* width: 650px; */
  /* margin-left: 50px; */
  max-width: 100%; /* La imagen no supera el ancho del contenedor */
  height: auto;
  margin: 21px;
}

.cardNosotros {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 210px;
}

.cardNosotros h4 {
  font-size: 17px;
  text-align: center;
  color: black;
}

/* Estilo Pie de página */
footer {
  background-color: rgb(158, 239, 233);
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 100px 30px 30px 30px;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columna i {
  font-size: 30px;
}

.columna a {
  text-align: center;
  color: black;
}

.columna a:hover {
  color: rgb(255, 91, 98);
}

.texto {
  grid-column: 1 / -1;
  text-align: center;
  font-size: medium;
}

/* Responsive */

/* de 400px para abajo (celulares por ejemplo) */
@media screen and (max-width: 550px) {
  /* HEADER */
  header h1 {
    font-size: 30px;
  }

  header img {
    width: 100%;
    max-width: 50px;
  }
  /* FIN HEADER */

  /* INICIO */
  #inicio {
    flex-flow: row wrap;
    background-image: url("./media/fondo_inicio_smartphone.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .iconosInicio {
    display: none;
  }

  .contenidoInicio {
    flex-flow: column wrap;
    justify-content: space-evenly;
  }

  .contenidoInicio h2 {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    margin: 50px 0px;
    padding: 40px;
  }

  .contenidoInicio p {
    display: none;
  }

  #conocerMas {
    font-size: 20px;
    width: 200px;
    position: relative;
    margin-bottom: 200px;
  }
  /* FIN INICIO */

  /* Agregado Gustavo */
  .nosotros {
    background-image: none;
    background-color: rgb(158, 239, 233);
    border: 2px solid #ddd;
    border-radius: 10px;
  }
  .imgDoctorTecno {
    display: none;
  }
  .contenedorNosotros {
    grid-template-columns: 1fr;
  }

  .cardNosotros {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .contenedorContacto {
    grid-template-columns: 1fr;
  }

  #weather-container {
    display: none;
  }
  /* Fin Agregado Gustavo */

  /* FOOTER */
  footer {
    font-size: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .columna {
    margin-bottom: 20px;
  }

  .columna i {
    font-size: 20px;
  }

  .texto {
    font-size: small;
  }
  /* FIN FOOTER */
}

/* de 400px en adelante (tablets) */
@media (min-width: 551px) and (max-width: 800px) {
  /* HEADER */
  header img {
    width: 100%;
    max-width: 80px;
  }

  header h1 {
    font-size: 40px;
  }
  /* FIN HEADER */

  /* INICIO */
  .iconosInicio {
    display: none;
  }

  .contenidoInicio {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
  }

  .contenidoInicio p {
    font-size: 15px;
  }

  #conocerMas {
    font-size: 14px;
    margin-top: 20px;
    padding: 12px 35px;
  }
  /* FIN INICIO */

  /* Agregado Gustavo */
  .nosotros {
    background-image: url("./media/doctor_tecnologia.png");
    border: 2px solid #ddd;
    border-radius: 10px;
  }
  .imgDoctorTecno {
    display: none;
  }
  .contenedorNosotros {
    grid-template-columns: 1fr;
  }
  .contenidoNosotros {
    grid-column: 1 / 1;
  }
  .cardNosotros {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .contenedorContacto {
    grid-template-columns: 1fr;
  }
  .cardContacto {
    grid-column: 1 / 1;
  }
  /* Fin Agregado Gustavo */

  /* FOOTER */
  footer {
    font-size: 12px;
  }

  .texto {
    font-size: small;
  }
  /* FIN FOOTER */
}

/* Breakpoint para que en desktop cambie el menu */
@media (min-width: 801px) {
  .menuHamburguesa {
    display: flex;
    justify-content: flex-end;
    grid-column: 3 / 4;
    margin-top: 10px;
    font-size: 20px;
  }

  .menuHamburguesa ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .menuHamburguesa li {
    margin-right: 10px;
    display: inline-block;
  }

  .menuHamburguesa input {
    display: none;
  }

  .menuHamburguesa label {
    display: none;
  }

  /* Estilos Inicio solo modo desktop */
  .contenidoInicio {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
  }
}
